In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [9]:
# 加载数据
data = pd.read_csv('车辆贷款违约预测.csv')
data

,customer_id,main_account_loan_no,main_account_active_loan_no,main_account_overdue_no,main_account_outstanding_loan,main_account_sanction_loan,main_account_disbursed_loan,sub_account_loan_no,sub_account_active_loan_no,sub_account_overdue_no,...,main_account_tenure,sub_account_tenure,disburse_to_sactioned_ratio,active_to_inactive_act_ratio,year_of_birth,disbursed_date,Credit_level,employment_type,age,loan_default
0,105691,4,3,0,384989,666207,666207,0,0,0,...,81,0,1.00,2.50,1968,2019,1,0,51,0
1,24938,7,2,0,268670,387994,387994,0,0,0,...,161,0,1.00,1.33,1992,2019,9,0,27,0
2,104389,5,4,1,3519013,3613854,3576048,0,0,0,...,3576048,0,0.99,3.00,1991,2019,13,1,28,0
3,54688,43,13,6,1867106,2484678,2486856,0,0,0,...,0,0,1.00,1.42,1964,2019,3,1,55,0
4,63894,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1995,2019,-1,0,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,143579,1,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1986,2019,13,0,33,0
149996,112588,1,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1995,2019,6,1,24,0
149997,1125,21,4,0,60522,119000,119000,0,0,0,...,3,0,1.00,1.22,1981,2019,7,0,38,0
149998,4752,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1988,2019,-1,0,31,0
149999,31397,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1988,2019,-1,1,31,0

In [10]:
data.loan_default.value_counts(1)

0    0.823033
1    0.176967
Name: loan_default, dtype: float64

In [11]:
data = data.drop(['customer_id','disbursed_date'],axis = 1) # 删掉用户的id  以及放款日期

In [12]:
# 数据中有inf
# np.any 只要有True 就会返回1
inf_names = []
for name in data.columns:
    if np.any(np.isinf(data[name])):   # np.isinf 判断数据中是否有inf的值 如果有 就会返回True
        inf_names.append(name)

In [ ]:
# 删除包含inf 的数据
for name in inf_names:
    inf_ids = data[data[name]==np.inf].index # 获取到包含inf值的行索引
    data = data.drop(inf_ids)   # 删除对应行

In [18]:
# 获取特征和目标
x = data.iloc[:,:-1].astype(np.float64)
y = data.iloc[:,-1]

In [22]:
x_train ,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=22)
estimator = RandomForestClassifier(n_estimators=500,oob_score=True,random_state=22) # 创建随机森林对象 oob_score 返回out of bag数据的结果
estimator.fit(x_train,y_train)
estimator.score(x_test,y_test)  # 计算准确率
from sklearn.metrics import accuracy_score

0.8209547303153544

In [23]:
estimator.oob_score_

0.8215434619551629

In [24]:
from sklearn.metrics import classification_report
y_pred = estimator.predict(x_test)
accuracy_score(y_test,y_pred)
print(classification_report(y_test,y_pred))  # 算 精准 召回和 F1score

              precision    recall  f1-score   support

           0       0.82      0.99      0.90     24689
           1       0.37      0.02      0.03      5309

    accuracy                           0.82     29998
   macro avg       0.60      0.51      0.47     29998
weighted avg       0.74      0.82      0.75     29998

In [25]:
from sklearn.ensemble import AdaBoostClassifier
estimator = AdaBoostClassifier(n_estimators=500,random_state=22)
estimator.fit(x_train,y_train)

AdaBoostClassifier(n_estimators=500, random_state=22)

In [27]:
from sklearn.metrics import accuracy_score
y_pred = estimator.predict(x_test)
accuracy_score(y_test,y_pred)

0.8227881858790586

In [28]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      1.00      0.90     24689
           1       0.45      0.01      0.01      5309

    accuracy                           0.82     29998
   macro avg       0.64      0.50      0.46     29998
weighted avg       0.76      0.82      0.75     29998